<% if @store.deal %>
    <% if !@store.deal.users.empty? %>
        <div id="streakrs">
            <b> Streakrs </b>
            <table >
                <% @store.deal.users.each do |user| %>
                  <% if user== @store.deal.users.last %>
                    <tr > <td class="streakr" id="last" > <%= user.name %> </td> </tr>
                  <% else %>
                    <tr > <td class="streakr"> <%= user.name %> </td> </tr>
                  <% end %>
                <% end %>
            </table>
        </div>
    <%else %>
        <p> No one loves you :(</p>
    <%end %>
<% end %>
