<% if @store.deal %>
    <% if !@store.deal.users.empty? %>
        <div id="streakrs">
            <b> Streakrs </b>
            <div id="streakrList">
                <% @store.deal.users.each do |user| %>
                    <div class="streakr"> <%= user.name %>
                    <div style="float: right;" > <%= user.dealStatus %></div> <br /></div>
                <% end %>
            </div>
        </div>
    <%else %>
       <div id="streakrs">
            <b> Streakrs </b>
            <div id="streakrList">
                <div class="streakr"> Nobody is currently streaking.
                <div style="float: right;" > :(</div> <br /></div>
            </div>
        </div>
    <%end %>
<% end %>
