<% if @store.deal %>
    <% if !@store.deal.users.empty? %>
        <div>
            <b> Streakrs </b>
            <ul class="user_list" >
                <% @store.deal.users.each do |user| %>
                    <li> <%= user.name %> </li>
                <% end %>
            </ul>
        </div>
    <%else %>
        <p> No one loves you :(</p>
    <%end %>
<% end %>
