<table id="homeTable">
<tr><td id="border">
  <%= render 'form' %>
</td><td>
<div class="button">
<a href="#">Use Recommendation Tools</a>
</div>
</td></tr>
</table>

<%= link_to 'Back', deals_path %>
